.header{
		border-radius: 5px;
		background: #909090;
		height: 150px;
		width: 80%;
		margin: 0 auto;
		box-shadow: 10px 10px 5px #222;
	}
	#logo{
		margin-top: 25px;
		width: 400px;
		height: 100px;
	}
	body{
		background: #505050;
	}
	.left_side{
		width: 4%;
		display: inline-block;
		padding: 10px;
		padding-left: 25px;
    	padding-right: 28px;
		background: #909090;
		border-radius: 5px;
		margin-top: 25px;
		margin-left: 12%;
		vertical-align: top;
		box-shadow: 10px 10px 5px #222;
	}
	.right_side{
		width: 4%;
		display: inline-block;
		padding: 10px;
		padding-left: 25px;
    	padding-right: 28px;
		background: #909090;
		border-radius: 5px;
		margin-top: 25px;
		margin-left: 1%;
		vertical-align: top;
		box-shadow: 10px 10px 5px #222;
	}
	.left_side_photo{
		/*height: 100%;*/
		width: 100%;
		text-align: center;
	}
	#loupe{
		width: 300px;
		position: absolute;
		right: 12%;
		top: 10px;
	}
	.controls{
		float: right;
		margin-right: 5px;
	}
	.control1{
		margin-top: 8px;
	}
	.control{
		width: 20px;
    	height: 20px;
	}
	.control2{
		position: absolute;
		top: 130px;
	}
	.left_side_photo_a{
		text-decoration: none;
	}
	.content{
		display: inline-block;
		padding: 10px;
		background: #909090;
		border-radius: 5px;
		margin-top: 25px;
		box-shadow: 10px 10px 5px #222;
		margin-left: 1%;
		width: 60%;
	}
	.middleblock{
		height: 80%;
	}
	.modal {
		background: #88ff89;
	    top: 80%;
	    position: absolute;
	    width: 30%;
	    left: 10%;
	    border-radius: 5px;
	    padding: 15px;
	    box-shadow: 10px 10px 5px #222;
	}